{% extends 'base.html' %}

{% block title %}
    Create a recipe - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
            <div class="align-right">
                Hello, {{ user.first_name }}!
                <a href="{% url 'user_logout' %}">Logout</a>
            </div>
        </nav>
    </header>
    <main class="dark-mauve-text">
        <h1>Create a Recipe</h1>
        <form method='post'>
            {% csrf_token %}
            <table>
            {{ form.as_p }}
            {{ formset.as_p }}
            </table>
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
