{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
                <div class="align-right">
                    Hello, {{ user.first_name }}!
                    <a href="{% url 'user_logout' %}">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1 class="dark-mauve-text center">{{ recipe_object.title }}</h1>
        <div id="grid-details">
            <div id="img-details">
                <img class="big" src="{{ recipe_object.picture }}">
                <div class="rating-left">4.3 stars</div>
                <div class="rating-left">{{ recipe_object.created_on|date:'F j, Y' }}</div>
                <p class="rating-left">{{ recipe_object.description }}</p>
                <p class="rating-left">Written by {{ recipe_object.author.first_name|default:"anonymous" }}</p>
            </div>
            <div id="ingredients-steps-grid">
                <h2 class="purple-box">Ingredients</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Food Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe_object.ingredients.all %}
                            <tr>
                                <td>{{ ingredient.amount }}</td>
                                <td>{{ ingredient.food_item }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2 class="purple-box">Steps</h2>
                <ol>
                    {% for step in recipe_object.steps.all %}
                        <li>{{ step.instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </main>
{% endblock content %}
