{% extends 'base.html' %}

{% block title %}
    Edit {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            <div class="align-right">
                Hello, {{ user.first_name }}!
                <a href="{% url 'user_logout' %}">Logout</a>
            </div>
        </nav>
    </header>
    <main class="dark-mauve-text">
        <h1>Edit {{ recipe_object.title }}</h1>
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save</button>
        </form>
    </main>
{% endblock content %}
