{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <div class="align-right">
                    Hello, {{ user.first_name }}!
                    <a href="{% url 'user_logout' %}">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1 class="dark-mauve-text center"> Scrumptious Recipes</h1>
        <h2 class="center">All the food that's fit to eat!</h2>
        <div id="tacos">
            {% for recipe in recipe_list %}
            <div>
                <div>
                    <h3 class="purple-box">
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                </div>
                <img class="small" src="{{ recipe.picture|default:'https://via.placeholder.com/150' }}">
                <div>{{ recipe.created_on|date:'F j, Y' }}</div>
                <div>4.3 stars</div>
            </div>
            {% empty %}
            <p>There are no recipes :(</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
