@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    font-family: "Roboto";
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    top: 0px;
    background-color: #CAC6D9;
    width: 100%;
}

nav {
    border-bottom: 1px solid gray;
    padding: 16px 0px;
    color: white;
    font-weight: bold;
}

main {
    padding: 16px;
    margin-bottom: 24px;
}

.dark-mauve-text {
    color: #806368
}

#tacos {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    text-align: center;
    column-gap: 50px;
    row-gap: 15px;
}

#grid-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 30px
}

#img-details {
    text-align: center;
    grid-column: 2;
    height: min-content;
}

.rating-left {
    text-align: left;
}

div #ingredients-steps-grid {
    grid-row: 1;
    grid-column: 3;
}

table, th, td {
    border-bottom: 1px solid #e6e4ee;
    padding: 3px;
    border-collapse: collapse;
}

table {
    margin-bottom: 20px;
}

tr {
    text-align: center;
}

tr:nth-child(2n+2) {
    background-color: #e6e4ee;
}

footer {
    padding: 24px;
    position: relative;
    bottom: 0px;
    background-color: #B2B7B1;
    color: white;
    width: 100%;
}

.small {
    height: 200px;
}

.big {
    width: 500px;
}

a:not(nav a) {
    text-decoration: none;
    color: #B28990;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 24px;
    transition: 0.5s;
}

nav a:hover {
    transition: 0.5s;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.20);
}

a:active {
    color: #806368;
}

.purple-box {
    display: inline-block;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 5px 5px #CAC6D9;
    margin: 20px 0px;
    transition: 0.5s;
}

.purple-box:hover {
    transition: 0.5s;
    box-shadow: 7px 7px #B28990;
}

img:hover {
    transform: scale(1.02);
}

ol {
    padding: 0px 20px;
    margin: 0px
}

.center {
    text-align: center;
}

button {
    background-color:#f0eff5;
    box-shadow: 2px 2px #CAC6D9;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid gray;
    padding: 4px 6px;
    font-family: "Roboto";
}

button:hover {
    transition: 0.5s;
    box-shadow: 3px 3px #B28990;
}

input:focus-visible, textarea:focus-visible {
    outline-color: #CAC6D9;
}

input {
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: "Roboto";
}

textarea {
    border: 1px solid gray;
    border-radius: 5px;
    font-family: "Roboto";
    width: 300px;
    height: 200px;
}

h1 {
    font-family: 'Pacifico';
    font-size: 32pt;
}

.align-right {
    float: right;
}
